<div class="container">
  <main>
    <div id="projectsJumbotron" class="jumbotron">
      <div class="projectsRunner">
        <h3 class="display-3 projectsRunnerText">Here are some of my projects.</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 py-3 py-sm-3">
        <div class="card card-width">
          <img src="images/belleville.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Project: </div>
                  <div class="col-6"> Belleville Running Club Website</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Year: </div>
                  <div class="col-6"> 2019</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Featuring: </div>
                  <div class="col-6"> HTML, CSS, Bootstrap, premium theme</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between"><a
                  href="https://github.com/paulwinka/bellevilleRunningClub">Github source code link</a></li>
              <li class="list-group-item d-flex justify-content-between"><a
                  href="/sites/bellevilleRunningClub/index.html">Click to see project live!</a></li>
              <li class="list-group-item d-flex justify-content-between">About
                the project: My first semester @ Ranken had me deep into HTML
                and CSS for this midterm project. All the students were tasked
                with recreating the current Belleville Running Club website. I
                learned a ton from this project; it was hard to believe just 7
                weeks prior I did my first page of "hello world"! </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 py-3 py-sm-3">
        <div class="card card-width">
          <img src="images/roiCalc.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Project: </div>
                  <div class="col-6"> ROI Calculator</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Year: </div>
                  <div class="col-6"> 2020</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Featuring: </div>
                  <div class="col-6"> C#, SQL, LINQ </div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between"><a
                  href="https://github.com/paulwinka/roiCalculator">Github source code link</a></li>
              <li class="list-group-item d-flex
                justify-content-between">Spring 2020 semester final project @
                Ranken was to create an C# app capable of CRUD operations. I
                like real estate a lot. The paperwork side of real estate is
                data heavy, which is perfect for SQL. The biggest challenge for
                the project was getting SQL & LINQ to play nicely with the app.
                After all the work was done, I demo'd to my class on Discord.
                Nice!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 py-3 py-sm-3">
        <div class="card card-width">
          <img src="images/flightelder.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Project: </div>
                  <div class="col-6"> Flight Elder Website</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Year: </div>
                  <div class="col-6"> 2019</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row d-flex">
                  <div class="col-6">Featuring: </div>
                  <div class="col-6"> HTML, CSS, Bootstrap, premium theme, WordPress</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between"><a
                  href="https://github.com/paulwinka/flightElder">Github source code link</a></li>
              <li class="list-group-item d-flex justify-content-between"><a href="www.flightelder.com">Click HERE see
                  project live!</a></li>
              <li class="list-group-item d-flex justify-content-between">About
                the project: First semester final project project was to find a
                client and build a pro bono website for them. I chose one my
                friends from church, Tink Sullivan. He's a rescue helicopter
                pilot, busy father, and church elder. I used the premium "Visia"
                theme for this project and incorporated WordPress blogging.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>