<div class="container">
  <main class="d-flex flex-column align-items-center">
    <img class="img-fluid my-4" src="images/me1.jpg" alt="">
    <h1 class="display-4">Paul Winka</h1>
    <p>Hello, I am a student at Ranken Technical College in the Application &
      Web Development program. I am set to graduate in May 2021. I was in the Air
      Force for 11 years as a acquisition manager (in what most people call the
      "purchasing office"). After the Air Force I worked for a defense contractor
      assisting the Army with purchasing supplies, services, and construction in
      Kandahar, Afghanistan. I also served as a mentor to leaders in the Afghan
      National Police involved with acquisition. After all my involvement with the
      Department of Defense, I decided it was time to try something new and get a
      new skill. That's when I decided to go to Ranken be ready for a new and
      challenging career in something apart from what I have always known.</p>
    <div class="row">
      <div class="col-12 col-md-5">
        <h2>My top technical skills</h2>
        <ul>
          <li>HTML</li>
          <li>Javascript</li>
          <li>C#</li>
          <li>CSS</li>
          <li>Microsoft Excel</li>
        </ul>
      </div>
      <div class="col-12 col-md-2"></div>
      <div class="col-12 col-md-5">
        <h2>My top non-technical skills</h2>
        <ul>
          <li>Time management</li>
          <li>Public Speaking</li>
          <li>Listening</li>
          <li>Accounting (QuickBooks)</li>
          <li>Spanish</li>
        </ul>
      </div>
    </div>
  </main>
</div